<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/billing.css">
    <% include ../partials/head %>

  </head>
  <body>
    <div class="window">
      <% include ../partials/navbar %>
      <div class="content">
        <% if (messages.success_add) { %>
          <div class="flash flash-success alert alert-success"><%= messages.success_add %></div>
        <% } %>
        <h1>Payment Methods</h1>
        <div id='card-data'></div>
        <input id="cardholder-name" type="text">
        <!-- placeholder for Elements -->
        <div id="card-element"></div>
        <button id="card-button" data-secret="<%= client_secret %>">
          Save Card
        </button>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="js/index.js"></script>
  <script>
    $(document).ready(function(){
      var stripe = Stripe('pk_test_1njsfmaxUijZhXr6xbB2044P00d1uj8d4h');

      var elements = stripe.elements();
      var cardElement = elements.create('card');
      cardElement.mount('#card-element');
      var cardholderName = document.getElementById('cardholder-name');
      var cardButton = document.getElementById('card-button');
      var clientSecret = cardButton.dataset.secret;

      cardButton.addEventListener('click', function(ev) {
        stripe.handleCardSetup(
          clientSecret, cardElement, {
            payment_method_data: {
              billing_details: {name: cardholderName.value}
            }
          }
        ).then(function(result) {
          if (result.error) {
            // Display error.message in your UI.
          } else {
            // The setup has succeeded. Display a success message.
            <% if(customer){ %>
              $.ajax({
                url:"/create-paymentmethod/<%= intent_id %>",
                method:"GET",
                success:function(data){
                  alert(JSON.stringify(data, 0, 2))
                  console.log(data)
                }
              })
            <% } else { %>
              $.ajax({
                url:"/create-customer/<%= intent_id %>",
                method:"GET",
                success:function(data){
                  alert(JSON.stringify(data, 0, 2))
                  console.log(data)
                }
              })
            <% } %>
          }
        });
      });
      var customer = "<%= customer %>"
      if(customer){
        var card_data = '';
        $.getJSON("/list-cards", function(data){
          card_data += "<div class='row'>";
          $.each(data.data, function(key, value){
            if(value.card.brand.toLowerCase() == "visa"){
              var card = 'visa';
            }
            var card = value.card.brand.toLowerCase();
            switch(card){
              case 'visa':
                var icon = "<i class='fab fa-cc-visa'></i>";
                break;
              case 'mastercard':
                var icon = "<i class='fab fa-cc-mastercard'></i>";
                break;
              case 'american express':
                var icon = "<i class='fab fa-cc-amex'></i>";
                break;
              case 'americanexpress':
                var icon = "<i class='fab fa-cc-amex'></i>";
                break;
              case 'diners club':
                var icon = "<i class='fab fa-cc-diners-club'></i>";
                break;
              case 'dinersclub':
                var icon = "<i class='fab fa-cc-diners-club'></i>";
                break;
              case 'discover':
                var icon ="<i class='fab fa-cc-discover'></i>";
                break;
              case 'jcb':
                var icon ="<i class='fab fa-cc-jcb'></i>";
                break;
              case 'unionpay':
                var icon = "<i class='fas fa-credit-card'></i>UnionPay";
                break;
              case 'unknown':
                var icon = "<i class='fas fa-credit-card'></i>";
                break;
            }
            card_data += "<div class='col-xs-12 col-sm-12'>";
            card_data += "<div class='thumbnail'>";
            card_data += "<div class='card-header'>";
            card_data += icon;
            card_data += "</div>";
            card_data += "<div class='caption'>";
            card_data += "<p>xxxxxxxxxxxx" + value.card.last4 +"</p>";
            card_data += "<p>" + value.card.exp_month + "/" + value.card.exp_year + "</p>";
            card_data += "<a href='#' class='card-link'>Update</a>";
            card_data += "<a href='#' class='card-link'>Delete</a>";
            card_data += "</div>";
            card_data += "</div>";
            card_data += "</div>";
          })
          $("#card-data").html(card_data)
        })
        $.ajax({
          url:"/list-cards",
          method:"GET",
          success:function(data){

            console.log(JSON.stringify(data, 0, 2))
          }
        })
      }

    })

  </script>
      <script src="https://js.stripe.com/v3/"></script>
</html>
