<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/wallet.css">
    <% include ../partials/head %>

  </head>
  <body>
    <div class="window">
      <% include ../partials/navbar %>
      <div class="content">
        <% if (messages.success_add) { %>
          <div class="flash flash-success alert alert-success"><%= messages.success_add %></div>
        <% } %>
        <% if (messages.delete) { %>
          <div class="flash flash-success alert alert-success"><%= messages.delete %></div>
        <% } %>
        <h1>Payment Methods</h1>
        <div id='card-data'></div>

          <div class='form-row'>
            <label for="cardholder-name">
              Name
            </label>
            <input id="cardholder-name" type="text">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element"></div>
            <!-- placeholder for Elements -->
            <div id="card-errors" role="alert"></div>
          </div>
          <button id="card-button" data-secret="<%= client_secret %>">
            Save Card
          </button>

      </div>
    </div>
  </body>

  <script type="text/javascript" src="js/index.js"></script>
  <script>
    $(document).ready(function(){
      var stripe = Stripe('pk_test_1njsfmaxUijZhXr6xbB2044P00d1uj8d4h');
      var customer = "<%= customer %>"
      if(customer){
        var elements = stripe.elements();
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        var cardElement = elements.create('card', {style: style});
        cardElement.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        cardElement.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });
        var cardholderName = document.getElementById('cardholder-name');
        var cardButton = document.getElementById('card-button');
        var clientSecret = cardButton.dataset.secret;

        cardButton.addEventListener('click', function(ev) {
          stripe.handleCardSetup(
            clientSecret, cardElement, {
              payment_method_data: {
                billing_details: {name: cardholderName.value}
              }
            }
          ).then(function(result) {
            if (result.error) {
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
              console.log(result.error.message)
              // Display error.message in your UI.
            } else {
              // The setup has succeeded. Display a success message.
              <% if(customer){ %>
                $.ajax({
                  url:"/create-paymentmethod/<%= intent_id %>",
                  method:"GET",
                  success:function(data){
                    location.reload()
                  }
                })
              <% } else { %>
                $.ajax({
                  url:"/create-customer/<%= intent_id %>",
                  method:"GET",
                  success:function(data){
                    location.reload()
                  }
                })
              <% } %>
            }
          });
        });
        var card_data = '';
        function getCards(){
          $.getJSON("/list-cards", function(data){
            card_data += "<div class='row'>";
            console.log(JSON.stringify(data, 0, 2))


            $.each(data.data, function(key, value){
              if(value.card.brand.toLowerCase() == "visa"){
                var card = 'visa';
              }
              var card = value.card.brand.toLowerCase();
              switch(card){
                case 'visa':
                  var icon = "<i class='fab fa-cc-visa fa-3x'></i>";
                  break;
                case 'mastercard':
                  var icon = "<i class='fab fa-cc-mastercard fa-3x'></i>";
                  break;
                case 'american express':
                  var icon = "<i class='fab fa-cc-amex fa-3x'></i>";
                  break;
                case 'americanexpress':
                  var icon = "<i class='fab fa-cc-amex fa-3x'></i>";
                  break;
                case 'diners club':
                  var icon = "<i class='fab fa-cc-diners-club fa-3x'></i>";
                  break;
                case 'dinersclub':
                  var icon = "<i class='fab fa-cc-diners-club fa-3x'></i>";
                  break;
                case 'discover':
                  var icon ="<i class='fab fa-cc-discover fa-3x'></i>";
                  break;
                case 'jcb':
                  var icon ="<i class='fab fa-cc-jcb fa-3x'></i>";
                  break;
                case 'unionpay':
                  var icon = "<i class='fas fa-credit-card fa-3x'></i>UnionPay";
                  break;
                case 'unknown':
                  var icon = "<i class='fas fa-credit-card fa-3x'></i>";
                  break;
              }
              card_data += "<div class='col-xs-12 col-sm-12'>";
              card_data += "<div id='" + value.id + "' class='thumbnail'>";
              card_data += "<div class='card-header'>";
              card_data += icon;
              card_data += "</div>";
              card_data += "<div class='caption'>";
              card_data += "<p>" + value.billing_details.name + "</p>";
              card_data += "<p>xxxxxxxxxxxx" + value.card.last4 +"</p>";
              card_data += "<p>" + value.card.exp_month + "/" + value.card.exp_year + "</p>";
              // card_data += "<a href='/update-card/" + value.id + "' class='card-link'>Update</a>";
              card_data += "<a href='/delete-card/" + value.id + "' class='card-link'>Delete</a>";
              card_data += "</div>";
              card_data += "</div>";
              card_data += "</div>";
            })
            $("#card-data").html(card_data)
            $.ajax({
              url:"/retrieve-customer/<%=customer%>",
              method:"GET",
              success:function(customer){
                var default_payment = customer.default_source;
                if(default_payment == null){
                  var default_payment = data.data[data.data.length - 1].id;
                }
                console.log(default_payment)
                document.getElementById(default_payment).classList.add('active-card')
                // $("#" + default_payment).addClass('active-card')
              }
            })

          })
        }
        getCards();
        // $.ajax({
        //   url:"/list-cards",
        //   method:"GET",
        //   success:function(data){
        //
        //     console.log(JSON.stringify(data, 0, 2))
        //   }
        // })
      }

    })

  </script>
      <script src="https://js.stripe.com/v3/"></script>
</html>
